.skmheader{
    text-size-adjust: 100%;
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 1.5;
   color: #23282c;
   text-align: left;
   -webkit-font-smoothing: antialiased;
   box-sizing: border-box;
   display: flex!important;
   padding-bottom: 3rem!important;
   min-height: 30rem;
   position: relative;
   width: 100%;
   padding-top: 8rem;
   background: linear-gradient(90deg,rgba(71, 70, 70, 0.5),rgba(71, 70, 70, 0.5)),url("./pexels-photo-2881233.jpeg") fixed;
   background-repeat: no-repeat;
   background-size: cover;

   } 



   .skmcenter{
    text-size-adjust: 100%;
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 1.5;
   color: #23282c;
   text-align: left;
   -webkit-font-smoothing: antialiased;
   box-sizing: border-box;
   display: flex!important;
   padding-bottom: 3rem!important;
   min-height: 25rem;
   position: relative;
   width: 100%;
   padding-top: 8rem;
   background: linear-gradient(90deg,rgba(71, 70, 70, 0.5),rgba(71, 70, 70, 0.5)),url("./pexels-photo-2881233.jpeg") fixed;
   background-repeat: no-repeat;
   background-size: cover;

   } 



 

    p.skmtext{
        text-align: left;
        margin-top:2%;
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-family: "cambria";
    }


    .skmlist > li{
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-family: "cambria";
    }


    .h2skm{
        font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        text-align: center;
        margin-top:5%
      }



